/* Googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    color : rgb(11, 11, 11);

}

.title{
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-size: 120%;
    padding-bottom: 20px;
}

.divider{
    border: 0;
    border-bottom: 2px  solid rgb(70, 70, 70);
    width: 100%;
    margin: 20px 0;
}

.divider-no-border{
    height: 20px;
}

.button{
    background-color: rgb(13, 160, 240);
    color: rgb(12, 12, 12);
    border: none;
}

.button:hover{
    opacity: 0.9;
}

.error{
    color: #c51244;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}

.login-container{
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: rgb(13, 160, 240);
    
}

.login-form .divider{
    margin-top: 30px;
}

.login-form .button{
    margin-top: 10px;
    line-height: 27px;
}

.login-form{
    max-width: 400px;
    
    margin: 0 auto;
    background-color: rgba(239, 232, 232, 0.974);
    border-radius: 5%;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    
}

.login-form .logo-details{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .logo-details i{
    font-size: 30px;
    font-weight: 900;
    color: rgb(13, 160, 240);
    text-align: center;
    padding-right: 5px;
}

.login-form .logo-details .logo-name{
    color: rgb(28, 33, 33);
    font-size: 20px;
    font-weight: 300;
}

input, select {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
}

input[type=radio]{
    width: auto;
}

label{
    margin-right: 20px;
}

.side-bar{
    position: fixed;
    width: 250px;
    height: calc(100vh);
    overflow: hidden;
    background-color: rgb(13, 160, 240);
    
}

.side-bar .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
}

.side-bar .logo-details i{
    font-size: 28px;
    font-weight: 800;
    color: black;
    min-width: 60px;
    text-align: center;
}

.side-bar .logo-details .logo-name{
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.side-bar .nav-links{
    height: calc(100vh);
}

.side-bar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
}

.side-bar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.side-bar .nav-links .active{
    background-color: white;
}

.side-bar .nav-links li a:active{
    background-color: rgb(241, 236, 236);
}

.side-bar .nav-links li a:hover{
    background-color: rgb(245, 240, 240);
}

.side-bar .nav-links li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: rgb(31, 30, 30);
}

.side-bar .nav-links li a .links-name{
    color: rgb(16, 15, 15);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.side-bar .nav-links .line{
    margin: 10px auto;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    
}

.home-section{
    position: relative;
    background-color: #f5f5f5;
    min-height: calc(100vh);
    width: calc(100% - 250px);
    left: 250px;
}

.home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    padding: 0 20px;
}

.home-section nav .side-bar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .side-bar-button i{
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: rgb(13, 160, 240);
    border: 2px solid #efeef1;
    border-radius: 6px;
    height: 50px;
    min-width: 170px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}

.home-section nav .profile-details i{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

.table-title{
    font-weight: solid;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 20px 0;
    display: inline;
}

.table-container{
    position: relative;
    top: 80px;
    padding: 40px;
}

.table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: auto;
}

th, td{
    padding: 8px;
    font-size: 14px;
}

thead{
    background-color: rgb(13, 160, 240);
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}

thead th{
    width: auto;
    height: fit-content;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:nth-child(even){
    background-color: #eee;
}
tr .action, th .action{
    text-align: center;
}

td a{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
  
a.action-edit{
    background-color: orange;
}
  
a.action-remove{
    background-color: lightcoral;
}
  
a.action-edit:hover, a.action-remove:hover{
    opacity: 0.6;
    cursor: pointer;
}

a.status-available{
    background-color: rgb(53, 248, 5);
}
  
a.status-notavaible{
    background-color: rgb(239, 18, 18);
}
  
a.status-available:hover, a.status-notavailable:hover{
    opacity: 0.6;
    cursor: pointer;
}

.table-container .button{
    display: inline;
    float: right;
    width: fit-content;
}

.table-container .table-heading{
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

.home-section .home-content{
    position: relative;
}

.home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
    padding-top: 104px;
}

.overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: rgb(13, 160, 240);
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.overview-boxes .box-topic{
    font-size: 25px;
    font-weight: 500;
}

.home-content .box .number{
    display: inline-block;
    font-size: 25px;
    margin-top: 5px;
    font-weight: 500;
}

.home-content .box .indicator{
    display: flex;
    align-items: center;
}

.home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.home-content .box .indicator .text{
    font-size: 12px;
}

.home-content .box .cart{
    display: inline-block;
    font-size: 27px;
    height: 40px;
    width: 40px;
    background: #cce5ff;
    line-height: 40px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
}

.home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
}

.home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
}

.approved{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 12px;
    font-size: 12px;
}

.declined{
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 12px;
    font-size: 12px;
}
#logout-link{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

a.button{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}


.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
  }
  
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
 
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }


.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  

  .container:hover input ~ .checkbox {
    background-color: #ccc;
  }
  

  .container input:checked ~ .checkbox {
    background-color: #2196F3;
  }
  

  .checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
 
  .container input:checked ~ .checkbox:after {
    display: block;
  }
  
 
  .container .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .add-faculty{
    max-width: 400px;
  }

  form.add-faculty .button{
    display: block;
    right: 0;
  }

  .form-size{
    max-width: 400px;
  }

  a.back{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #107869;
  }

  .bx-caret-left{
    font-size: 24px;
    color: black;
  }
  #error{
    position: absolute;
    top: 120px;
    left: 500px;
    width: 100vh;
    height: 400px;
    border-radius: 30px;
    border-style: solid;
    border-color: #c51244;
    color: #c51244;
  }

  .search {

    position: relative;
    width: 23%;
    justify-self: center;

  }

  .search input {

    padding-left: 30px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    outline: none;
    border-style: none;
    border-radius: 10px;
    background: #f5f5f5

  }

  .search i {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor:pointer;

  }